{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}" />
  <title>🦁 마이페이지 홈</title>
</head>
<body>
  <header>
    <a href="main.html">
      <img id="logo_sookmutsa" src="{% static 'images/숙멋사로고명 1.svg' %}"
    /></a>
    <nav class="top">
      <a href="{% url 'mypage' %}"><img id="mypage" src="{% static 'images/mypage.svg' %}"/></a>
      <a href="{% url 'logout' %}"><img id="logout" src="{% static 'images/logout.svg' %}" /></a>
    </nav>
  </header>
  <article>
    {% if user.is_authenticated %}
    <h1>아기사자 <span class="colorchange" style="font-weight: 600;">{{user.first_name}}</span>님을 소개합니다.</h1>
  </article>
  <div id="introduce">
    <img id="abata_1" src="{% static 'images/아바타 1.svg' %}"/>
    <div id="explain">
      <h2>안녕하세요! 저는 <span class="colorchange">이연서</span>입니다</h2>
      <h4>저는 현재 <span class="colorchange" style="font-weight: 600;">프론트엔드 엔지니어</span> 라는 꿈을 가지고 있어요!<br/>
      그 꿈을 위한 첫 걸음을 멋사에서 시작하게 되어 영광입니다 🥳<br/>
      앞으로 잘 부탁드립니다!!</h4>
    </div>
  </div>
  <nav class="bottom">
    <a href="{% url 'mypage' %}"><img id="mypage_home" src="{% static 'images/home2.svg' %}"/></a>
    <a href="{% url 'me' %}"><img id="mypage_me" src="{% static 'images/me.svg' %}" /></a>
    <a href="message.html"><img id="mypage_question" src="{% static 'images/send.svg' %}" /></a>
  </nav>
  {% else %}
    <p>로그인을 해주세요</p>
  {% endif %}
</body>
</html>